/* app css stylesheet */

.form-control{
  border-radius:8px;
}
.navbar{
  background: #00b4ff;
  background-repeat: no-repeat;
  background-size:cover;
}
.navbar-brand{
  color:white;
  padding-left:37%;
  font-family: Microsoft sans-serif;
  font-size:35px;
}
.form-group{
  margin-bottom:-12px;
}
#logout{
  color: white;
  padding-left: 35%;
  font-family: Micro;
  padding-top: 1.5%;
  font-family: Microsoft sans-serif;
  font-size:15px;
}
.glyphicon-off{
  font-size:13px;
}
body{
  background: url('http://previews.123rf.com/images/sph1410/sph14101511/sph1410151100065/48499646-text-to-speech-colorful-word-on-the-wooden-background-Stock-Photo.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.row{
  width:60%;
}
#textToSpeechLogo{
  height:50px;
  width:50px;
  float:left;
  margin-left:30px;
  margin-top:5px;
}
video{
  margin-left:-160px;
  margin-top:50px;
}
